<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteCond %{REQUEST_METHOD} ^(CONNECT|DEBUG|DELETE|MOVE|PUT|TRACE|TRACK) [NC]

    
    ### START PAGE ROUTING ###
    DirectoryIndex index.php
    ErrorDocument 404 404.php
    ### END PAGE ROUTING ###

    ### START TEMPLATE ROUTING ###
    RewriteRule ^template/emailcode         views/general/html/emailcode.template.html [QSA]
    RewriteRule ^template/messagecode       views/general/html/messagecode.template.txt [QSA]
    ### END TEMPLATE ROUTING ###

    #### START APIS ####
    RewriteRule ^api/(.+)                   components/api.php?path=$1 [QSA]
    #### START APIS ####

    #### START VIEWS ####
    # VIEWS
    RewriteRule ^login                      page/login/login.php [QSA]
    RewriteRule ^home                       page/home/home.php [QSA]
    RewriteRule ^metasdevida                page/metas_vida/metas_vida.php [QSA]
    RewriteRule ^mañana                     page/manana/manana.php [QSA]
    RewriteRule ^environments               pages/environments/environments.php [QSA]
    RewriteRule ^users                      pages/users/users.php [QSA]
    RewriteRule ^views                      pages/views/views.php [QSA]
    RewriteRule ^roles                      pages/roles/roles.php [QSA]
    RewriteRule ^permissions                pages/permissions/permissions.php [QSA]
    # ASSETS
    RewriteRule ^assets/(.+)                lte/assets/$1 [QSA]
    RewriteRule ^gLibraries/(.+)            pages/gLibraries/$1.min.js [QSA]
    RewriteRule ^session                    page/session/session.php [QSA]
    RewriteRule ^script/(.+)/(.+)           page/$1/$1.js?v=$2 [QSA]
    RewriteRule ^crud/(.+)/(.+)             pages/$1/crud.js?v=$2 [QSA]
    RewriteRule ^extra/(.+)/(.+)            pages/$1/extra.js?v=$2 [QSA]
    RewriteRule ^js/(.+)                    page/js/$1 [QSA]
    RewriteRule ^img/(.+)                   page/imgs/$1 [QSA]
    
    ####  END VIEWS  ####

    ### ASSETS ###

    # RewriteRule ^assets/(.+)                lte/assets/$1 [QSA]
    # RewriteRule ^lte/(.+)                lte/$1 [QSA]

</IfModule>